**1.** `np`이름으로 `numpy`패키지를 가져온다.

In [ ]:
import numpy as np

**2.** `numpy` <u>버전</u>과 <u>구성</u>을 출력한다.

In [ ]:
print(np.__version__)                                                             # 버전 출력

1.21.6

In [ ]:
np.show_config()                                                                  # 구성 출력

blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
    runtime_library_dirs = ['/usr/local/lib']
blas_opt_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
    runtime_library_dirs = ['/usr/local/lib']
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
    runtime_library_dirs = ['/usr/local/lib']
lapack_opt_info:
    libraries = ['openblas', 'openblas']
    library_dirs = ['/usr/local/lib']
    language = c
    define_macros = [('HAVE_CBLAS', None)]
    runtime_library_dirs = ['/usr/local/lib']
Supported SIMD extensions in this NumPy install:
    baseline = SSE,SSE2,SSE3
    found = SSSE3,SSE41,POPCNT,SSE42,AVX,F16C,FMA3,AVX2
    not found = AVX512F,AVX512CD,AVX512_KNL,AVX512_KNM,AVX512_SKX,AVX512_CLX,AVX512_CNL,AVX512_ICL

**3.** 사이즈 10의 `Null 벡터`를 생성한다.

In [ ]:
Z = np.zeros(10)                                                                  # '0'으로 구성된 사이즈 10의 벡터 생성
print(Z)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

**4.** 모든 배열의 메모리 크기를 찾아 출력한다.

In [ ]:
Z = np.zeros((10,10))                                                             # 10 × 10 크기의 Null 벡터 생성

In [ ]:
print(Z.nbytes)
print(np.prod(Z.shape) * Z.itemsize)
print("%d bytes" % (Z.size * Z.itemsize))                                         # 메모리 크기

800
800
800 bytes

**5.** `numpy add` <u>기능의 설명서를 얻는 방법</u>은 다음과 같다.

In [ ]:
import numpy

In [ ]:
numpy.info(numpy.add)                                                             # numpy.info : 기능 설명 -> numpy.add 기능 설명 출력

add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])

**6.**  사이즈 10의 `Null 벡터`를 생성하되, <u>다섯 번째 값</u>은 1로 출력한다.

In [ ]:
Z = np.zeros(10)                                                                  # 사이즈 10의 Null 벡터 생성 
Z[4] = 1                                                                          # 다섯 번째 값을 1로 변경
print(Z)                                                                          # 출력

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

**7.** 값이 <u>10 ~ 49의 범위</u>인 벡터를 생성한다.

In [ ]:
Z = np.arange(10, 50)                                                             # 범위 (10) ~ (50-1) 벡터를 생성
print(Z)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

**8.** 벡터를 <u>반전</u>하므로, 첫 번째 요소가 마지막이고 마지막 요소가 첫번째로 출력한다.

In [ ]:
Z = np.arange(50)                                                                 # (1) ~ (50-1)의 벡터를 생성
Z = Z[::-1]                                                                       # 반전 -> 뒤에서부터 읽어오기
print(Z)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

**9.** <u>0 ~ 8 범위</u>의 값을 사용하여 사이즈 *3 × 3인 벡터*를 생성한다.

In [ ]:
Z = np.arange(9).reshape(3, 3)                                                    # (1) ~ (9-1)의 벡터를 3 × 3 사이즈로 생성
print(Z)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

**10.** `[1, 2, 0, 0, 4, 0]`에서 <u>0이 아닌 요소의 색인</u>을 찾아 출력한다.

In [ ]:
nz = np.nonzero([1, 2, 0, 0, 4, 0])                                               # 해당 벡터 중 0이 아닌 요소의 색인(인덱스)를 찾기 -> 0, 1, 4
print(nz)

(array([0, 1, 4]),)

**11.** `3 × 3` 사이즈로 <u>단위 대각 벡터</u>를 생성한다.

In [ ]:
Z = np.eye(3)                                                                     # 3×3의 대각 행렬 생성 -> 대각선 부분만 1인 행렬 
print(Z)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

**12.** <u>랜덤 값</u> `3×3×3 사이즈의 벡터`를 생성한다.

In [ ]:
Z = np.random.random((3,3,3))                                                     # 랜덤 값의 3×3×3 벡터 생성  
print(Z)

[[[0.65381306 0.592474   0.61715843]
  [0.16813696 0.12247986 0.0097647 ]
  [0.35714867 0.85607211 0.60863454]]

 [[0.78894021 0.04984974 0.70291023]
  [0.99598594 0.90762406 0.62682683]
  [0.44927601 0.88560654 0.60702544]]

 [[0.54781346 0.2175948  0.91262417]
  [0.92936837 0.76883549 0.90385029]
  [0.98175884 0.5270669  0.68298094]]]

**13.** <u>랜덤값</u>이 있는 `10×10의 벡터`를 생성하고 <u>최소값</u>과 <u>최대값</u>을 찾아 출력한다.

In [ ]:
Z = np.random.random((10,10))                                                     # 10×10의 랜덤값 벡터 생성
print(Z)
Zmin, Zmax = Z.min(), Z.max()                                                     # 최대값, 최소값 구하기
print("최소값 : ", Zmin, "최대값 : ", Zmax)

[[0.26744264 0.99228643 0.26216852 0.5997901  0.45206051 0.3200821
  0.3262597  0.29428163 0.7619028  0.43013962]
 [0.30653722 0.93784146 0.58010335 0.90602027 0.81097097 0.7074348
  0.31928345 0.20563621 0.79913094 0.82669199]
 [0.66756408 0.15113634 0.72313826 0.64362459 0.19100949 0.01453672
  0.4249614  0.3369779  0.63073595 0.89784993]
 [0.05342012 0.48232161 0.25984425 0.47036866 0.8827651  0.42255039
  0.91524101 0.36795509 0.82476145 0.15962114]
 [0.43960542 0.49538115 0.66767611 0.93542248 0.00575724 0.6733798
  0.34958975 0.27498067 0.20841328 0.7774037 ]
 [0.23667625 0.97452912 0.85484626 0.86480057 0.51923705 0.45403348
  0.944089   0.91226703 0.59098847 0.44916055]
 [0.16387015 0.55056644 0.35754304 0.44057687 0.78315624 0.99408411
  0.13410343 0.20640062 0.89085928 0.07678122]
 [0.95500076 0.6251885  0.81522798 0.32464053 0.74420856 0.13248315
  0.54954256 0.24384174 0.17373458 0.19697047]
 [0.82459978 0.05072309 0.06931751 0.53624795 0.04888925 0.83537158
  0.54915424 0.16110907 0.82317286 0.77909827]
 [0.07869584 0.36203865 0.09103593 0.33225607 0.21044302 0.37234305
  0.09050883 0.55208996 0.85130987 0.73895941]]
최소값 :  0.005757243217093033 최대값 :  0.9940841148253711

**14.** `30 크기의 랜덤 벡터`를 생성하고 <u>평균값</u>을 찾아 출력한다.

In [ ]:
Z = np.random.random(30)                                                          # 30 사이즈의 랜덤값 벡터 생성
m = Z.mean()                                                                      # 평균값 구하기
print(m)

0.445792039051191

**15.** <u>경계값이 1</u>이고 <u>내부가 0</u>인 2차원 배열을 만든다.

In [ ]:
Z = np.ones((10, 10))                                                             # 2차원의 10×10사이즈의 1로 구성된 배열 생성
Z[1:-1, 1:-1] = 0                                                                 # 1번째 인덱스부터 마지막 인덱스 전까지는 0으로 값 변경 -> 내부가 0이고, 테두리는 1인 배열 
print(Z)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

**16.** 기존 어레이에 <u>테두리를 0으로</u> 채운다.

In [ ]:
Z = np.ones((5,5))                                                                # 2차원의 5×5사이즈의 1로 구성된 배열 생성
Z = np.pad(Z, pad_width=1, mode='constant', constant_values=0)                    # 어레이의 테두리에 특정 데이터를 추가 -> 특정 값 0으로 한 줄의 테두리를 만들기
print(Z)

print()

Z[:, [0, -1]] = 0                                                                 # 인덱스로 테두리의 값을 0으로 변경
Z[[0,-1], :] = 0                                                                  # 인덱스로 테두리의 값을 0으로 변경
print(Z)

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

[[0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 1. 1. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0. 0. 0.]]

**17.** 아래 결과를 예측해본다.
```
1. 0 * np.nan
2. np.nan == np.nan
3. np.inf > np.nan
4. np.nan - np.nan 
5. np.nan in set([np.nan])
6. 0.3 == 3 * 0.1
```



**예측**
```
1. 정의될 수 없는 np.nan의 식이므로, 정의할 수 없는 nan을 출력한다.
2. 정의할 수 없는 nan이므로 같은 nan과의 비교라도 같다고 정의할 수 없으므로 False를 출력한다.
3. 정의할 수 없는 nan과의 비교이므로, 정의할 수 없으므로 False를 출력한다.
4. 정의할 수 없는 nan의 식이므로, 정의할 수 없는 값의 nan을 출력한다.
5. nan값으로 구성된 set 자료형의 정의할 수 없는 nan은 포함된 것을 알 수 있으므로 True를 출력한다.
6. 소수점의 연산을 정확하게 출력할 수 없으므로 False를 출력한다.
```

In [ ]:
print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(np.nan in set([np.nan]))
print(0.3 == 3 * 0.1)

nan
False
False
nan
True
False

**18.** 5×5 사이즈의 벡터를 생성하되, <u>대각선 바로 아래에 값</u>은 `1,2,3,4`를 사용한다.

In [ ]:
Z = np.diag(1+np.arange(4), k=-1)                                                 # 1 ~ 4의 값을 아래 대각행렬로 하는 벡터 생성 
print(Z)

[[0 0 0 0 0]
 [1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]]

**19.** 8×8 사이즈인 <u>체크보드 패턴</u>의 벡터를 만든다.

In [ ]:
Z = np.zeros((8,8), dtype=int)                                                    # 8×8의 0으로 구성된 배열 생성
Z[1::2, ::2] = 1                                                                  # 인덱스 지정으로 값 변경
Z[::2, 1::2] = 1                                                                  # 인덱스 지정으로 값 변경
print(Z)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

**20.** 배열 `(6, 7, 8)`을 고려하여 <u>100번째 원소의 색인</u>의 `(x, y, z)`를 구한다.

`np.unravel_index(indices, dims, order="C")`가 기본 문법이다.  
- 이는 `dims 인자`에 들어온 값을 플랫했을 때, `indices 값`의 위치에 존재하는 값은 <u>기존 어레이에 어떤 위치에 존재</u>하는지를 답하는 함수이다.  
- 이때, `order`값은 "`C`"는 `행 주요`, "`F`"는 `열 주요`를 의미한다.

In [ ]:
print(np.unravel_index(99, (6,7,8)))

(1, 5, 3)

**21.** `np.tile`함수를 사용하여 체크보드 8×8 배열을 생성한다.

In [ ]:
Z = np.tile(np.array([[0,1],[1,0]]), (4,4))                                       # np.title : [0,1]과 [1,0]을 행과 열로 4번씩 반복하여 쌓는 함수를 생성
print(Z)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

**22.** 5×5 크기의 <u>랜덤 행렬을 정규화</u>한다.

In [ ]:
Z = np.random.random((5,5))                                                       # 5×5 크기의 랜덤 행렬 생성
Z = (Z - np.mean(Z)) / (np.std(Z))                                                # 정규화
print(Z)

[[ 0.54798682 -0.19168233  1.25590174  1.17430134  0.66713749]
 [-0.42858146 -0.22648597  0.09357785 -0.58488977 -1.29005979]
 [ 1.65468528  1.65920285  1.77879463 -1.2998136   0.7518066 ]
 [-1.26732563 -1.08851581 -0.37394064  0.69259205 -1.29347055]
 [ 0.62891192 -0.13881478 -1.16576489 -0.64640196 -0.90915139]]

**23.** <u>색상을 4바이트(RGBA)</u>로 나타내는 사용자 지정 `dtype`을 생성한다.

In [ ]:
color = np.dtype([("r", np.ubyte, 1),
                  ("g", np.ubyte, 1),
                  ("b", np.ubyte, 1),
                  ("a", np.ubyte, 1)])

color                                                                             # dtype로 지정한 각 색의 정보를 해당 type로 color에 속한것을 확인 가능

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  after removing the cwd from sys.path.

dtype([('r', 'u1'), ('g', 'u1'), ('b', 'u1'), ('a', 'u1')])

**24.** 5×3 행렬에 3×2 행렬을 곱한다.

**행렬의 곱셈**
- `np.dot`
- "`@`"

In [ ]:
Z= np.dot(np.ones((5,3)), np.ones((3,2)))
print(Z)

print()

Z = np.ones((5,3)) @ np.ones((3,2))
print(Z)

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

[[3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]
 [3. 3.]]

**25.** `0부터 10까지의 범위의 값`으로 구성된 1차원 배열에서 3과 8사이의 모든 값을 <u>부정</u>하여 음수로 나타낸다.

In [ ]:
Z = np.arange(11)                                                                 # 0~10 값으로 구성된 배열 생성
Z[(3 < Z) & (Z < 8)] *= -1                                                        # 3과 8사이의 값은 -1을 곱하는 인덱스를 이용한 식 작성
print(Z)

[ 0  1  2  3 -4 -5 -6 -7  8  9 10]

**26.** 아래의 결과를 예측한다.

```
1. print(sum(range(5), -1))
2. from numpy import *
   print(sum(range(5), -1))
```
**예측**
```
1. 기존 0~5까지의 범위로 구성된 변수들에서 -1까지 모두 더하는 것으로, -1 + 0 + 1 + 2 + 3 + 4 = 9을 출력한다.
2. numpy의 sum으로 문법으로, sum의 두번째 인자인 -1은 axis=-1로 이해하므로, 0 + 1 + 2 + 3 + 4 = 10을 출력한다.

In [ ]:
print(sum(range(5), -1))
from numpy import *
print(sum(range(5), -1))

9
10

**27.** 정수 벡터 Z를 이용하여, 아래 표현들 중 어느 것이 맞는 표현인지 파악한다.

```
Z**Z
2 << Z >> 2
Z <- Z
1j * Z
Z/1/1
Z<Z>Z
```

**`Z<Z>Z 외에는 모두 맞는 표현이고, Z<Z>Z만 올바르지 않은 표현이다.`**

In [ ]:
Z = np.arange(11)
print(Z)

[ 0  1  2  3  4  5  6  7  8  9 10]

In [ ]:
print(Z**Z)
print(2 << Z >> 2)
print(Z <- Z)
print(1j * Z)
print(Z/1/1)
print(Z<Z>Z)

[          1           1           4          27         256        3125
       46656      823543    16777216   387420489 10000000000]
[  0   1   2   4   8  16  32  64 128 256 512]
[False False False False False False False False False False False]
[0. +0.j 0. +1.j 0. +2.j 0. +3.j 0. +4.j 0. +5.j 0. +6.j 0. +7.j 0. +8.j
 0. +9.j 0.+10.j]
[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

ValueError: ignored

**28.** 다음 표현식의 결과는 무엇인지 알아본다.

```
1. print(np.array(0) / np.array(0))
2. print(np.array(0) // np.array(0))
3. print(np.array([np.nan]).astype(int).astype(float))
```

```
array는 나누기(/)는 불가능하지만, 몫을 구하는 것(//)은 가능하다.  
즉, 1번과 같은 나누기의 식은 정의할 수 없는 nan을 출력한다.
```

In [ ]:
print(np.array(0) / np.array(0))
print(np.array(0) // np.array(0))
print(np.array([np.nan]).astype(int).astype(float))

nan
0
[-9.22337204e+18]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in floor_divide

**29.** 실수형 배열에서 <u>반올림</u>하는 방법을 구해본다.

- `np.random.uniform(a,b,c)`
    - 최소값 a에서 최대값 b까지의 범위사이에서 균등하게 c개의 값으로 어레이를 생성한다.

- `np.ceil(number)`
  - 주어진 숫자와 같은 정수 또는 주어진 숫자보다 큰 가장 가까운 정수를 출력한다.

- `np.floor(number)`
  - 주어진 숫자와 같은 정수 또는 주어진 숫자보다 작은 가장 가까운 정수를 출력한다.

- `np.abs(number)`
  - number의 절댓값을 출력한다.

- `np.copysign(a, b)`
  - 첫번째 array 요소의 기호를 두 번째 array 요소의 기호로 바꾼다.

- `np.where(a, b, c)`
  - a가 True인 곳은 b의 요소, a가 False인 곳은 c의 요소로 리턴한다.

In [ ]:
Z = np.random.uniform(-10,+10,10)                                                 # 최소 -10, 최대 +10의 범위에서 균등하게 10개의 어레이 생성
print(Z)

# Z 어레이의 절댓값과 크거나 같은 정수 중 가까운 정수로 출력 후, 기존의 Z 어레이의 기호로 변환하여 출력
print(np.copysign(np.ceil(np.abs(Z)),Z))

# 더 가독성이 있지만, 덜 효율적 -> Z가 양수이면 Z와 같거나 큰 가장 가까운 정수로, Z가 음수이면 Z와 같거나 작은 가장 가까운 정수로 변환하여 출력
print(np.where(Z>0, np.ceil(Z), np.floor(Z)))

[ 1.5707746   7.28635782  0.11239955  9.77256366  8.69581946 -1.61318749
 -9.08580137 -4.0661049   9.52373749 -1.10126901]
[  2.   8.   1.  10.   9.  -2. -10.  -5.  10.  -2.]
[  2.   8.   1.  10.   9.  -2. -10.  -5.  10.  -2.]

**30.** 두 어레이 간의 <u>공통 값을 찾는다</u>.

In [ ]:
Z1 = np.random.randint(0,10,10)                                                   # 0부터 9까지의 랜덤한 숫자 10개의 배열인 Z1과 Z2 생성                          
Z2 = np.random.randint(0,10,10)
print(f"Z1 : {Z1}, Z2 : {Z2}")
print(np.intersect1d(Z1,Z2))                                                      # np.intersect1d(x,y) : 두 개의 배열 x, y의 교집합을 정렬하여 반환

Z1 : [0 7 2 4 0 7 0 6 0 1], Z2 : [5 2 8 5 2 8 3 7 2 8]
[2 7]

**31.** 모든 `numpy`의 <u>경고를 무시하는 방법을 사용</u>해본다. *하지만, 이 방법들은 권장하지 않는다.*

- `np.seterr`
  - 부동소수점 오류 처리 방법을 설정한다.
  - 나눗셈, 오버플로우, 언더플로우, 유효하지 않은 소수점에 대해 각각 처리 가능하다.
  - `{'ignore', 'warn', 'raise', 'call', 'print', 'log'}`로 처리 가능하다.

In [ ]:
defaults = np.seterr(all="ignore")                                                # all='ignore'로 설정하여 오류 발생 시, 무시하도록 설정 -> Suicide mode
Z = np.ones(1) / 0

_ = np.seterr(**defaults)                                                         # 오류 처리 방법을 초기화

with np.errstate(all="ignore") :
    np.arange(3)/ 0                                                               # context manager로 동등한 기능을 하는 것으로, 경고를 표시하지 않기 위해 errstate(divide='ignore')로 설정

**32.** 다음 표현식이 `True`인지 알아본다.

`np.emath.sqrt(-1)`은 `1j`로 표시되어 변수를 더 수학적으로 표현한다.  
즉, `np.sqrt(-1)`과 같은 값이라고 볼 수 없다.

In [ ]:
np.sqrt(-1) == np.emath.sqrt(-1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

False

In [ ]:
print(np.sqrt(-1))
print(np.emath.sqrt(-1))

nan
1j

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

**33.** <u>어제, 오늘, 내일의 날짜</u>를 알아본다.

In [ ]:
np.datetime64('today')                                                            # 오늘의 날짜를 numpy.datetime64를 이용하여 출력

numpy.datetime64('2022-09-14')

In [ ]:
yesterday = np.datetime64('today') - np.timedelta64(1)                            # 오늘의 날짜에서 하루를 뺀 것으로 어제의 날짜 출력
today     = np.datetime64('today')
tomorrow  = np.datetime64('today') + np.timedelta64(1)                            # 오늘의 날짜에서 하루를 더한 것으로 내일의 날짜 출력

**34.** `2016년 7월에 해당 되는 모든 날짜`를 알아본다.

In [ ]:
Z = np.arange('2016-07', '2016-08', dtype='datetime64[D]')                        # 2016년 7월과 2016년 8월 전까지의 날짜를 arange 함수로 datetime64[D]의 형식으로 출력
print(Z)

['2016-07-01' '2016-07-02' '2016-07-03' '2016-07-04' '2016-07-05'
 '2016-07-06' '2016-07-07' '2016-07-08' '2016-07-09' '2016-07-10'
 '2016-07-11' '2016-07-12' '2016-07-13' '2016-07-14' '2016-07-15'
 '2016-07-16' '2016-07-17' '2016-07-18' '2016-07-19' '2016-07-20'
 '2016-07-21' '2016-07-22' '2016-07-23' '2016-07-24' '2016-07-25'
 '2016-07-26' '2016-07-27' '2016-07-28' '2016-07-29' '2016-07-30'
 '2016-07-31']

**35.** `(A+B)*(-A/2)`를 <u>복사본 없이 제자리에서 계산</u>해본다.

In [ ]:
A = np.ones(3) * 1                                                                # 각 값이 1인 크기가 3인 어레이 A 생성
B = np.ones(3) * 2                                                                # 각 값이 2인 크기가 3인 어레이 B 생성

# add : 덧셈 / divice : 나눗셈 / negative : 부호 반대 / multiply : 곱셈 -> out : 결과를 어떤 어레이에 return할지 지정
print(np.add(A, B, out=B))                                                                          
print(np.divide(A, 2, out=A))
print(np.negative(A, out=A))
print(np.multiply(A, B, out=A))

[3. 3. 3.]
[0.5 0.5 0.5]
[-0.5 -0.5 -0.5]
[-1.5 -1.5 -1.5]

**36.** 4가지의 다른 방법을 사용하여 <u>양수 배열의 정수 부분을 추출</u>한다.

In [ ]:
Z = np.random.uniform(0,10,10)                                                    # 최소값 0에서 최대값 10까지의 범위사이에서 균등하게 10개의 값으로 어레이를 생성

print(Z)
print(Z-Z%1)                                                                      # 나머지 연산자 %로, Z에서 Z를 1로 나눈 나머지를 빼는 것으로, 기존 Z의 정수부분 출력
print(Z // 1)                                                                     # 몫을 출력하는 연산자 //로, Z의 1로 나눈 몫, 즉 기존 Z의 정수부분을 출력
print(np.floor(Z))                                                                # 내림함수 floor를 사용하여, Z와 같은 정수 또는 주어진 숫자보다 작은 가장 가까운 정수를 출력하는 것으로, 기존 Z의 정수부분 출력
print(Z.astype(int))                                                              # 타입을 변경하는 함수 astype을 사용하여 정수 타입으로 변경한 정수들의 Z 출력
print(np.trunc(Z))                                                                # 소수점을 버리는 함수 trunc를 사용하여 정수부분의 Z 출력

[8.50670769 9.5127241  5.84950677 7.39635062 0.94825989 8.96964394
 2.07887782 4.86879572 8.95204558 0.09677481]
[8. 9. 5. 7. 0. 8. 2. 4. 8. 0.]
[8. 9. 5. 7. 0. 8. 2. 4. 8. 0.]
[8. 9. 5. 7. 0. 8. 2. 4. 8. 0.]
[8 9 5 7 0 8 2 4 8 0]
[8. 9. 5. 7. 0. 8. 2. 4. 8. 0.]

**37.** 행 값이 `0~4`인 5×5 크기의 매트릭스를 만든다.

In [ ]:
Z = np.zeros((5,5))                                                               # 5×5 크기의 0으로 구성된 Z 생성
print(Z)

print()

Z += np.arange(5)                                                                 # [0,1,2,3,4]를 기존 Z의 각 행들에 더하기
print(Z)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

**38.** <u>10개의 정수를 생성하는 생성자 함수</u>를 고려하고 이 함수를 사용하여 `배열`을 만들 수 있다.

In [ ]:
def generate():
  for x in range(10):                                                             # 0~9의 범위 동안, 해당 x값 yield
    yield x

Z = np.fromiter(generate(), dtype=float, count=-1)                                # 반복 가능한 객체에서 새로운 1차원 배열을 생성
print(Z)

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]

**39.** <u>0에서 1 사이의 값</u>으로 크기가 10인 벡터를 생성한다.

In [ ]:
Z = np.linspace(0,1,11,endpoint=False)[1:]                                        # 0에서 1까지의 범위 중 11개의 숫자를 순서대로 채워주기
print(Z)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182 0.90909091]

**40.** 크기가 `10인 랜덤 벡터`를 만들어 정렬한다.

In [ ]:
Z = np.random.random(10)                                                          # 10개의 무작위의 벡터 생성
Z.sort()                                                                          # 정렬 
print(Z)

[0.01353066 0.06941214 0.08253667 0.1157874  0.12400014 0.28991848
 0.48374336 0.55956604 0.61073409 0.87388663]

**41.** 작은 배열을 `np.sum`보다 <u>더 빨리 합칠 수 있는 방법</u>을 알아본다.

In [ ]:
Z = np.arange(10)
print(Z)
np.add.reduce(Z)                                                                  # 1차원 배열에 적용하여 요소의 값을 합산한 스칼라 값 출력

[0 1 2 3 4 5 6 7 8 9]

45

**42.** `두 랜덤 배열` A와 B를 생각해보고, <u>그것들이 같은지 확인</u>한다.

In [ ]:
A = np.random.randint(0,2,5)
B = np.random.randint(0,2,5)

print(f"A : {A}, B : {B}")

equal = np.allclose(A,B)                                                          # 두 배열이 요소별로 동일한지 비교
print(equal)

equal = np.array_equal(A,B)                                                       # 각 원소의 일치 여부를 확인 
print(equal)

A : [0 1 1 0 0], B : [0 0 0 0 0]
False
False

**43.** 배열을 <u>변경할 수 없도록 설정</u>하는 것으로 즉, `읽기 전용`으로 설정한다.

In [ ]:
Z = np.zeros(10)
Z.flags.writeable = False                                                         # 배열의 속성에 대한 쓸 수 있는 정보 값을 False로 설정하여 수정할 수 없도록 설정
Z[0] = 1                                                                          # 읽기 전용으로 설정했으므로, 오류 출력

ValueError: ignored

**44.** `데카르트 좌표`를 나타내는 임의의 10×2 행렬을 고려하여 <u>극좌표로 변환</u>한다.

```
'데카르트 좌표'란, 임의의 차원의 유클리드 공간(혹은 좀 더 일반적으로 내적 공간)을 나타내는 좌표계 중 하나이다.

'데카르트 좌표계'는 나타내는 대상이 평행 이동에 대한 대칭을 가질 때 유용하나, 회전 대칭 등 다른 꼴의 대칭은 쉽게 나타내지 못한다.   
일반적으로 주어진 유클리드 공간에 기저와 원점이 주어지면 이를 이용하여 '데카르트 좌표계'를 정의할 수 있다.

이로써 점과 수식을 같은 차원에서 살펴보는게 가능해졌고, 기하와 대수가 통합되는 계기가 마련되었으며, 이를 통해 함수의 개념이 표현되기 시작했다.
```

```
극좌표계는 평면 위의 위치를 각도와 거리를 써서 나타내는 2차원 좌표계이다. 극좌표계는 두 점 사이의 관계가 각이나 거리로 쉽게 표현되는 경우에 가장 유용하다.
```

![극좌표.JPG]()
(https://ko.wikipedia.org/wiki/%EA%B7%B9%EC%A2%8C%ED%91%9C%EA%B3%84)

`np.arctan2(x1,x2)`
- $ x1/x2 $의 아크탄젠트 계산
- 범위가 [$-pi$, $pi$]

In [ ]:
Z = np.random.random((10,2))
X, Y = Z[:,0], Z[:,1]
R = np.sqrt(X**2+Y**2)                                                            # 제곱근 
T = np.arctan2(Y,X)                                                               # 아크탄젠트
print(R)
print(T)

[0.7972188  0.25546479 0.38706182 0.62527623 1.06819998 0.85679823
 0.25219298 0.48400208 0.47049672 0.9077451 ]
[0.22902709 1.50538827 0.93517913 0.31614463 1.21119085 0.43252214
 1.17003782 1.25136888 0.62346233 0.22036039]

**45.** 크기가 `10`인 랜덤 벡터를 생성하고 <u>최대값을 찾아 0으로 바꾼다</u>.

In [ ]:
Z = np.random.random(10)                                                          # 랜덤 벡터 생성
print(f"Z : {Z}, MAX : {Z[Z.argmax()]}, MAX_INDEX : {Z.argmax()}")
Z[Z.argmax()] = 0                                                                 # 최대값을 0으로 바꾸기
print(Z)

Z : [0.17154894 0.06707608 0.72705664 0.31226273 0.22143571 0.66304912
 0.7359933  0.86191624 0.03813981 0.20608915], MAX : 0.8619162415478203, MAX_INDEX : 7
[0.17154894 0.06707608 0.72705664 0.31226273 0.22143571 0.66304912
 0.7359933  0.         0.03813981 0.20608915]

**46.** `[0,1]`×`[0,1]` 영역을 커버하는 x, y 좌표를 갖는 <u>구조화된 배열을 생성</u>한다.

In [ ]:
Z = np.zeros((5,5), [('x',float),('y',float)])
Z['x'], Z['y'] = np.meshgrid(np.linspace(0,1,5), np.linspace(0,1,5))              # np.meshgird : 격자 그리드 만들기 / np.linspace : 0부터 1까지의 범위 값으로 5개 숫자 채우기 -> Z의 x, y좌표를 갖는 격자 그리드 생성
print(Z)

[[(0.  , 0.  ) (0.25, 0.  ) (0.5 , 0.  ) (0.75, 0.  ) (1.  , 0.  )]
 [(0.  , 0.25) (0.25, 0.25) (0.5 , 0.25) (0.75, 0.25) (1.  , 0.25)]
 [(0.  , 0.5 ) (0.25, 0.5 ) (0.5 , 0.5 ) (0.75, 0.5 ) (1.  , 0.5 )]
 [(0.  , 0.75) (0.25, 0.75) (0.5 , 0.75) (0.75, 0.75) (1.  , 0.75)]
 [(0.  , 1.  ) (0.25, 1.  ) (0.5 , 1.  ) (0.75, 1.  ) (1.  , 1.  )]]

**47.** X, Y 두 배열이 주어지면, `Cauchy matrix`를 만든다.

- `np.subtract(A, B)` 
  -  A-B
- `np.subtract.outer(A,B)`   
  -  
      [[A1-B1  A1-B2  A1-B3]  
      [A2-B1   A2-B2  A2-B3]  
      [A3-B1  A3-B2   A3-B3]]
- `np.linalg.det()`
  - `linalg` = linearAlgebra(선형대수)를 의미 
  - `np.det()` = 행열의 determinant of an array(행렬식)를 계산

In [ ]:
X = np.arange(8)
Y = X + 0.5
print(f"X : {X}, Y : {Y}")

print(np.subtract.outer(X, Y))                                                    
C = 1.0 / np.subtract.outer(X, Y)
print(np.linalg.det(C))

X : [0 1 2 3 4 5 6 7], Y : [0.5 1.5 2.5 3.5 4.5 5.5 6.5 7.5]
[[-0.5 -1.5 -2.5 -3.5 -4.5 -5.5 -6.5 -7.5]
 [ 0.5 -0.5 -1.5 -2.5 -3.5 -4.5 -5.5 -6.5]
 [ 1.5  0.5 -0.5 -1.5 -2.5 -3.5 -4.5 -5.5]
 [ 2.5  1.5  0.5 -0.5 -1.5 -2.5 -3.5 -4.5]
 [ 3.5  2.5  1.5  0.5 -0.5 -1.5 -2.5 -3.5]
 [ 4.5  3.5  2.5  1.5  0.5 -0.5 -1.5 -2.5]
 [ 5.5  4.5  3.5  2.5  1.5  0.5 -0.5 -1.5]
 [ 6.5  5.5  4.5  3.5  2.5  1.5  0.5 -0.5]]
3638.163637117973

**48.** 각 데이터 타입 별 <u>표시할 수 있는 최소 및 최대 값을 출력</u>한다.

> 각 타입별(*np.int8, np.int32, np.int64, np.float32, np.float64*)의 dtype로   
 해당 타입의 `np.info` 함수를 사용하여 그 정보를 출력할 수 있다.

In [ ]:
for dtype in [np.int8, np.int32, np.int64] :                                      # 각 타입별 dtype의 최소값, 최대값
    print(np.iinfo(dtype).min)
    print(np.iinfo(dtype).max)
  
for dtype in [np.float32, np.float64] :                                           # 각 타입별 dtype의 최소값, 최대값, 유클리디언 거리값
    print(np.finfo(dtype).min)
    print(np.finfo(dtype).max)
    print(np.finfo(dtype).eps)

-128
127
-2147483648
2147483647
-9223372036854775808
9223372036854775807
-3.4028235e+38
3.4028235e+38
1.1920929e-07
-1.7976931348623157e+308
1.7976931348623157e+308
2.220446049250313e-16

**49.** <u>배열의 모든 값을 인쇄하는 방법</u>을 알아본다.

In [ ]:
np.set_printoptions(threshold=float("inf"))                                       # 인쇄 옵션 설정(부동 소수점 숫자, 배열 및 기타 Numpy객체가 표시되는 방식을 결정) -> 중간의 자료를 `...`로 대체하는 것이 아닌 전체 자료를 다 보도록 설정
Z = np.zeros((16,16))
print(Z)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

**50.** <u>벡터에서 주어진 값에 가장 가까운 값을 찾는 방법</u>을 알아본다.

In [ ]:
Z = np.arange(100)
print(f"Z : {Z}")
v = np.random.uniform(0,100)                                                      # 주어진 값
print(f"주어진 값 : {v} ")
index = np.abs((Z-v)).argmin()                                                    # np.argmin() : 최소값에 해당하는 인덱스
print(f"값 : {Z[index]}")

Z : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]
주어진 값 : 77.05255193044852
값 : 77

**51.** `위치(x,y)`와 `색상(r,g,b)`을 나타내는 <u>구조화된 배열을 작성</u>한다.

In [ ]:
# np.zeros()를 통해 빈 배열 생성  -> 구조화된 배열 작성
Z = np.zeros(10, [('position', [('x',float,1),
                                ('y',float,1)]),
                  ('color', [('r', float,1),
                            ('g',float,1),
                            ('b',float,1)])])
print(Z)

[((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

**52.** 좌표를 나타내는 형태`(100,2)`를 갖는 랜덤 벡터를 고려하여, <u>점 거리를 기준으로 점을 찾는다</u>.

In [ ]:
Z = np.random.random((10,2))
X, Y = np.atleast_2d(Z[:,0], Z[:,1])                                              # np.atleat_2d() : 입력배열을 2차원으로 받아들이기
D = np.sqrt((X-X.T)**2 +(Y-Y.T)**2)                                               # 각 점 원소를 기준으로 거리 계산 
print(D)

print() 

import scipy
import scipy.spatial

Z = np.random.random((10,2))
D = scipy.spatial.distance.cdist(Z,Z)                                             # SciPy 모듈을 사용해서 각 원소 간 짝을 이루어서 유클리디언 거리를 계산
print(D)

[[0.         0.84424734 0.57580735 0.71521702 0.52118004 0.42856435
  0.4303874  0.88474184 0.6769619  0.61560678]
 [0.84424734 0.         0.88668131 0.90529896 0.6739548  0.938409
  1.21685398 0.07097158 0.88288166 0.23233069]
 [0.57580735 0.88668131 0.         0.14707844 0.98440384 0.99402092
  0.58034601 0.95428673 0.11306797 0.74947796]
 [0.71521702 0.90529896 0.14707844 0.         1.09236633 1.12612509
  0.7181024  0.9754488  0.0386462  0.80207256]
 [0.52118004 0.6739548  0.98440384 1.09236633 0.         0.30488053
  0.94208447 0.67115673 1.05518466 0.48513704]
 [0.42856435 0.938409   0.99402092 1.12612509 0.30488053 0.
  0.77182348 0.94805309 1.08747904 0.72177734]
 [0.4303874  1.21685398 0.58034601 0.7181024  0.94208447 0.77182348
  0.         1.26806098 0.69028558 1.00326499]
 [0.88474184 0.07097158 0.95428673 0.9754488  0.67115673 0.94805309
  1.26806098 0.         0.9526281  0.26924103]
 [0.6769619  0.88288166 0.11306797 0.0386462  1.05518466 1.08747904
  0.69028558 0.9526281  0.         0.77264886]
 [0.61560678 0.23233069 0.74947796 0.80207256 0.48513704 0.72177734
  1.00326499 0.26924103 0.77264886 0.        ]]

[[0.         0.45681716 0.47426021 0.50798341 0.94555086 0.59940024
  0.72723561 0.64891971 0.686158   0.47104921]
 [0.45681716 0.         0.49874275 0.13839375 0.53315015 0.70044019
  0.82558444 0.19640092 0.56065803 0.05587562]
 [0.47426021 0.49874275 0.         0.63246498 0.7049747  0.20222458
  0.32764826 0.58515619 0.23565692 0.55179074]
 [0.50798341 0.13839375 0.63246498 0.         0.5963686  0.83298771
  0.96003552 0.24129486 0.6979776  0.08260251]
 [0.94555086 0.53315015 0.7049747  0.5963686  0.         0.86180724
  0.93532618 0.35538542 0.55801396 0.55750685]
 [0.59940024 0.70044019 0.20222458 0.83298771 0.86180724 0.
  0.13332971 0.78297724 0.31702909 0.75296685]
 [0.72723561 0.82558444 0.32764826 0.96003552 0.93532618 0.13332971
  0.         0.89451426 0.3773446  0.87910655]
 [0.64891971 0.19640092 0.58515619 0.24129486 0.35538542 0.78297724
  0.89451426 0.         0.56600789 0.2069476 ]
 [0.686158   0.56065803 0.23565692 0.6979776  0.55801396 0.31702909
  0.3773446  0.56600789 0.         0.61629607]
 [0.47104921 0.05587562 0.55179074 0.08260251 0.55750685 0.75296685
  0.87910655 0.2069476  0.61629607 0.        ]]

**53.** `float(32 비트)` 배열을 `integer(32 비트)` 배열로 변환하는 방법을 알아본다.

In [ ]:
Z = (np.random.rand(10)*100).astype(np.float32)                                   # astype : 타입 변환 지정 
Y = Z.view(np.int32)                                                              # view : 복사하면서 type 변환 가능 
Y[:]=Z
print(Y)

[68 79 39 31 22 62 63 90 90 10]

**54.** 다음 파일(*텍스트파일*)을 읽는 방법을 알아본다.

```
1, 2, 3, 4, 5
6,  ,  , 7, 8
 ,  , 9, 10, 11
 ```

- `np.getfromtxt()`
  - `np.getfromtxt(파일이름, delimiter="구분점", dtype="데이터타입")`
  - 텍스트파일에서 데이터 로드하고 결측값을 지정값으로 바꿔주는 메소드

In [ ]:
from io import StringIO

s = StringIO('''1, 2, 3, 4, 5
                6,  ,  , 7, 8
                 ,  , 9, 10, 11
                 ''')

Z= np.genfromtxt(s, delimiter=",", dtype=np.int)                                  # ","로 구분하면서 정수값으로 해당 문자열의 데이터를 로드하기
print(Z)

[[ 1  2  3  4  5]
 [ 6 -1 -1  7  8]
 [-1 -1  9 10 11]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

**55.** 어레이에 대한 <u>인덱스, 요소</u>를 구한다.

> 다차원 배열에서 각 원소에 대한 인덱스를 리턴한다.

```
- np.ndenumerate 
  : 다차원 인덱스 반복기로, 배열 좌표 및 값 쌍을 생성하는 반복기를 반환한다.
- np.nindex
  : 인덱스 배열에 대한 N차원 반복 개체로, 배열 모양을 지정하면 인스턴스가 반복된다.
```

In [ ]:
Z = np.arange(9).reshape(3,3)
print(Z)
print()
for index, value in np.ndenumerate(Z) :
    print(index, value)

print()

for index in np.ndindex(Z.shape) :
    print(index, Z[index])

[[0 1 2]
 [3 4 5]
 [6 7 8]]

(0, 0) 0
(0, 1) 1
(0, 2) 2
(1, 0) 3
(1, 1) 4
(1, 2) 5
(2, 0) 6
(2, 1) 7
(2, 2) 8

(0, 0) 0
(0, 1) 1
(0, 2) 2
(1, 0) 3
(1, 1) 4
(1, 2) 5
(2, 0) 6
(2, 1) 7
(2, 2) 8

**56.** `2차원 가우스 배열`을 만든다.

- 가우시안 정규 분포의 개념
- `np.meshgrid(xi, copy=True, sparse=False, indexing="xyb")`
  - 직사각형의 그리드 생성 
  - `xi` : 그리드에 나타낼 1차원 배열 벡터
  - `copy` : 디폴트는 True이고, False가 되면 메모리 절약을 위해 기존 배열로 반환
  - `sparse` : 디폴트는 False이고, True로 하면 메모리 절약을 위해 희소 그리드를 반환
  - `indexing` : {'xy',ij}. 카테시안 일반좌표 표시를 원하면 "xy", 행렬 인덱스는 "ij"
- `np.linspace(a, b, c)` 
  - a부터 b까지의 범위에서 c개의 수를 순서대로 채우는 함수
- `np.exp()`
  - 밑이 자연상수 e인 지수함수($ e^x $)로 변환

In [ ]:
X, Y = np.meshgrid(np.linspace(-1,1,10), np.linspace(-1,1,10))
D = np.sqrt(X*X+Y*Y)
sigma, mu = 1.0, 0.0
G = np.exp((-((D-mu)**2 / (2.0 * sigma**2))))
print(G)

[[0.36787944 0.44822088 0.51979489 0.57375342 0.60279818 0.60279818
  0.57375342 0.51979489 0.44822088 0.36787944]
 [0.44822088 0.54610814 0.63331324 0.69905581 0.73444367 0.73444367
  0.69905581 0.63331324 0.54610814 0.44822088]
 [0.51979489 0.63331324 0.73444367 0.81068432 0.85172308 0.85172308
  0.81068432 0.73444367 0.63331324 0.51979489]
 [0.57375342 0.69905581 0.81068432 0.89483932 0.9401382  0.9401382
  0.89483932 0.81068432 0.69905581 0.57375342]
 [0.60279818 0.73444367 0.85172308 0.9401382  0.98773022 0.98773022
  0.9401382  0.85172308 0.73444367 0.60279818]
 [0.60279818 0.73444367 0.85172308 0.9401382  0.98773022 0.98773022
  0.9401382  0.85172308 0.73444367 0.60279818]
 [0.57375342 0.69905581 0.81068432 0.89483932 0.9401382  0.9401382
  0.89483932 0.81068432 0.69905581 0.57375342]
 [0.51979489 0.63331324 0.73444367 0.81068432 0.85172308 0.85172308
  0.81068432 0.73444367 0.63331324 0.51979489]
 [0.44822088 0.54610814 0.63331324 0.69905581 0.73444367 0.73444367
  0.69905581 0.63331324 0.54610814 0.44822088]
 [0.36787944 0.44822088 0.51979489 0.57375342 0.60279818 0.60279818
  0.57375342 0.51979489 0.44822088 0.36787944]]

**57.** 2차원 배열에 `p요소`를 <u>랜덤하게 배치</u>하는 방법을 알아본다.

In [ ]:
n = 10
p = 3
Z = np.zeros((n,n))
np.put(Z, np.random.choice(range(n*n), p, replace=False), 1)                      # put : 원소 배치 / choice : 범위 내 랜덤으로 선택 -> 1을 삽입 
print(Z)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]]

**58.** 행렬의 <u>각 행의 평균을 출력</u>한다.

In [ ]:
X = np.random.rand(5, 10)

Y = X - X.mean(axis=1, keepdims=True)                                             # mean : 각 행의 평균을 구하기 -> keepdims 파라미터는 차원 유지를 의미 
print(Y)

print()

Y = X - X.mean(axis=1).reshape(-1, 1)                                             # mean : 각 행의 평균을 구하기 -> reshape로 사이즈 설정
print(Y)

[[-0.4590064   0.27899857 -0.39198647  0.11286111  0.31052205  0.23369986
   0.39702835  0.17933455 -0.32920672 -0.33224491]
 [ 0.15985499  0.38946443 -0.06065455  0.21492008 -0.02930929  0.4626335
  -0.4074613  -0.01023278 -0.38454388 -0.33467121]
 [ 0.1387876   0.05630886 -0.23002643 -0.09655745  0.37244187  0.30762018
  -0.14457423 -0.17372757  0.05566629 -0.28593912]
 [ 0.23807124  0.06085558 -0.27719531 -0.27086139  0.18526795  0.19483495
  -0.48316395  0.33069682  0.27664873 -0.25515462]
 [-0.49602836  0.08017863 -0.05281663  0.17826245 -0.24687157  0.16521125
   0.12030969 -0.28874355  0.20020076  0.34029732]]

[[-0.4590064   0.27899857 -0.39198647  0.11286111  0.31052205  0.23369986
   0.39702835  0.17933455 -0.32920672 -0.33224491]
 [ 0.15985499  0.38946443 -0.06065455  0.21492008 -0.02930929  0.4626335
  -0.4074613  -0.01023278 -0.38454388 -0.33467121]
 [ 0.1387876   0.05630886 -0.23002643 -0.09655745  0.37244187  0.30762018
  -0.14457423 -0.17372757  0.05566629 -0.28593912]
 [ 0.23807124  0.06085558 -0.27719531 -0.27086139  0.18526795  0.19483495
  -0.48316395  0.33069682  0.27664873 -0.25515462]
 [-0.49602836  0.08017863 -0.05281663  0.17826245 -0.24687157  0.16521125
   0.12030969 -0.28874355  0.20020076  0.34029732]]

**59.** 배열을 <u>n번째 열로 정렬</u>하는 방법을 알아본다.

In [ ]:
Z = np.random.randint(0, 10, (3,3))
print(Z)
print()
print(Z[Z[:,1].argsort()])                                                        # 행의 두번째 원소를 기준으로 정렬

[[5 3 8]
 [1 1 8]
 [3 7 1]]

[[1 1 8]
 [5 3 8]
 [3 7 1]]

**60.** 주어진 2차원 배열에 <u>null 열이 있는지 확인</u>하는 방법을 알아본다.

In [ ]:
Z = np.random.randint(0, 3, (3,10))
print((~Z.any(axis=0)).any())                                                     # axis = 0 -> 행을 따라 동작 -> any함수는 인자로 받은 반복가능한 자료형 중 단 하나라도 True가 있으면 True 반환 => Z에서 행을 따라 null이 있는지 판단

False

**61.** 배열의 지정된 값에서 <u>가장 가까운 값을 찾는다</u>.

In [ ]:
Z = np.random.uniform(0, 1, 10)
z = 0.5
m = Z.flat[np.abs(Z - z).argmin()]                                                # np.flat : 어레이를 flatten한 후에 인덱싱을 하는 것과 같은 정보를 제공  -> 배열을 벡터형태로 펴준 뒤 벡터의 방법과 같이 최소값 구하여 1차 어레이에 인덱싱
print(m)

0.5243822995158113

**62.** `반복문`을 사용하여 <u>합계를 계산하는 방법</u>을 알아본다.

In [ ]:
A = np.arange(3).reshape(3, 1)
B = np.arange(3).reshape(1, 3)
it = np.nditer([A, B, None])                                                      # np.nditer : 배열의 모든 요소를 반복 접근하여 설정값에 따른 결과를 알려주는 함수 
print(f"A : \n{A} \n\n B : \n{B}")
for x, y, z in it :
    z[...] = x+y
print()
print(it.operands[2])                                                             # np.nditer.operands : 반복기를 닫기 전에만 유효하는 반복할 어레이

A :
[[0]
 [1]
 [2]]

 B :
[[0 1 2]]

[[0 1 2]
 [1 2 3]
 [2 3 4]]

**63.** 이름 속성을 가진 `어레이 클래스`를 생성한다.

In [ ]:
class NamedArray(np.ndarray) :                                                    # NamedArray라는 class를 선언하여 array에 이름이 붙을 수 있게 설정
    def __new__(cls, array, name="no name") : 
        obj = np.asarray(array).view(cls)
        obj.name = name
        return obj
    def __array_finalize__(self, obj) :
        if obj is None : return
        self.info = getattr(obj, 'name', 'no name')

Z = NamedArray(np.arange(10), "range_10")
print(Z.name)

range_10

**64.** 주어진 벡터를 생각해보고, 두 번째 벡터에 의해 <u>인덱싱된 각 요소에 1을 추가하는 방법</u>을 알아본다.

In [ ]:
Z = np.ones(10)
I = np.random.randint(0, len(Z), 20)
Z += np.bincount(I, minlength=len(Z))                                             # 객체의 원소 중 0부터 최대값 범위의 정수값을 올림차순으로 정리한 뒤 각 원소에 대한 빈도수를 반환 -> minlength : 출력 배열의 최소 구간 수  -> 0부터 minlength-1 까지의 숫자에 대해 각각 count 
print(Z)

np.add.at(Z, I, 1)                                                                # np.add.at(A, idx, B) : 메소드로 A배열의 idx 위치에 B배열의 원소 순서대로 더하기
print(Z)

[4. 3. 3. 3. 5. 2. 2. 4. 1. 3.]
[7. 5. 5. 5. 9. 3. 3. 7. 1. 5.]

**65.** `인덱스 목록(I)`을 기준으로 `배열(F)`에 `벡터(X)` 요소를 <u>누적하는 방법</u>을 알아본다.

In [ ]:
X = [1,2,3,4,5,6]
I = [1,3,9,3,4,1]
F = np.bincount(I,X)                                                              # np.bincount : 객체의 원소중 0부터 최대값의 정수값을 올림차순으로 정리한 뒤 각 원소에 대한 빈도수를 반환 -> X의 원소들을 I에 나와있는 인덱스에 각각 삽입 
print(F)

[0. 7. 0. 6. 5. 0. 0. 0. 0. 3.]

**66.** `dtype=ubyte`의 (w, h, 3) 이미지를 고려하여 <u>고유 색상의 수를 계산</u>한다.

In [ ]:
w, h = 16, 16
I = np.random.randint(0, 2, (h,w,3)).astype(np.ubyte)
F = I[..., 0]*256*256 + I[..., 1]*256 + I[..., 2]
n = len(np.unique(F))                                                             # np.unique : 고유한 값들만 모아서 반환
print(np.unique(I))
print(n)

[0 1]
4

**67.** 4차원 배열을 고려했을 때, <u>마지막 두 축에서 합계를 한번에 얻는 방법</u>을 알아본다.

In [ ]:
A = np.random.randint(0, 10, (3,4,3,4))
print(A)
print()
sum = A.sum(axis=(-2,-1))                                                         # 행과 열이 고정된 채로 채널 방향으로 합계 구하기 
print(sum)

sum = A.reshape(A.shape[:-2] + (-1,)).sum(axis=-1)                                # 인덱싱으로 사이즈 조정 후 축 합계 구하기 
print(sum)

[[[[7 2 6 2]
   [9 1 1 5]
   [9 0 2 5]]

  [[7 9 1 7]
   [4 5 3 7]
   [9 1 7 3]]

  [[7 0 5 6]
   [9 0 4 6]
   [3 2 2 2]]

  [[4 5 4 7]
   [5 2 3 5]
   [4 3 0 3]]]


 [[[7 7 2 3]
   [3 7 0 9]
   [8 2 8 0]]

  [[5 3 0 9]
   [5 1 0 0]
   [2 8 1 1]]

  [[2 6 3 1]
   [4 9 2 1]
   [4 1 8 5]]

  [[2 0 7 8]
   [2 2 1 4]
   [0 1 8 4]]]


 [[[2 3 0 1]
   [5 8 9 4]
   [2 7 6 6]]

  [[1 8 6 6]
   [1 4 9 5]
   [3 8 3 9]]

  [[0 6 3 6]
   [7 1 5 7]
   [8 1 8 2]]

  [[8 5 4 6]
   [7 6 3 3]
   [8 7 5 6]]]]

[[49 63 46 45]
 [56 35 46 39]
 [53 63 54 68]]
[[49 63 46 45]
 [56 35 46 39]
 [53 63 54 68]]

**68.** 1차원 벡터를 고려했을 때, 부분집합 지수를 설명하는 동일한 크기의 `벡터 S`를 사용하여 `D`의 <u>부분 집합 평균을 계산하는 방법</u>을 알아본다.

In [ ]:
D = np.random.uniform(0, 1, 100)
S = np.random.randint(0, 10, 100)
D_sums = np.bincount(S, weights=D)                                                # 객체의 원소 중 0부터 최대값 범위의 정수값을 올림차순으로 정리한 뒤 각 원소에 대한 빈도수를 반환
D_counts = np.bincount(S)             
D_means = D_sums / D_counts
print(D_means)

import pandas as pd
print(pd.Series(D).groupby(S).mean())                                             # 그룹화 후 평균 -> 같은 값을 하나로 묶어 통계 결과를 얻기 위해 사용

[0.41204372 0.44978516 0.36043208 0.45648183 0.42473709 0.40630531
 0.40459645 0.5592522  0.41133056 0.50472895]
0    0.412044
1    0.449785
2    0.360432
3    0.456482
4    0.424737
5    0.406305
6    0.404596
7    0.559252
8    0.411331
9    0.504729
dtype: float64

**69.** 도트 제품의 `대각선`을 구하는 방법을 알아본다.

In [ ]:
A = np.random.uniform(0, 1, (5,5))
B = np.random.uniform(0, 1, (5,5))

print(np.diag(np.dot(A,B)))                                                       # 내적의 대각행렬 -> np.dot : 곱 / np.diag : 대각 원소를 추출하고 대각 행렬 생성 

print(np.sum(A * B.T, axis=1))                                     

print(np.einsum("ij,ji->i", A, B))

[1.84321155 1.32244161 0.8932828  1.08133231 0.46306339]
[1.84321155 1.32244161 0.8932828  1.08133231 0.46306339]
[1.84321155 1.32244161 0.8932828  1.08133231 0.46306339]

**70.** 벡터 `[1, 2, 3, 4, 5]`를 고려하면 <u>각 값 사이에 3 개의 연속 0이 삽입 된 새로운 벡터를 만드는 방법</u>을 알아본다.

In [ ]:
Z = np.array([1,2,3,4,5])
print(Z)
nz = 3
Z0 = np.zeros(len(Z) + (len(Z)-1)*(nz))
print(Z0)
Z0[::nz+1] = Z                                                                    # 처음부터 끝까지 nz+1 간격으로 인덱스 값 가져오기 
print(Z0)

[1 2 3 4 5]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 0. 0. 0. 2. 0. 0. 0. 3. 0. 0. 0. 4. 0. 0. 0. 5.]

**71.** (5,5,3)차원의 배열과 (5,5)차원의 배열을 <u>곱하는 방법</u>을 알아본다.

In [ ]:
A = np.ones((5,5,3))
B = 2*np.ones((5,5))
print(A*B[:,:,None])                                                              # 인덱싱으로 차원을 맞추고 곱

[[[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]

 [[2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]
  [2. 2. 2.]]]

**72.** 배열의 두 행을 바꾸는 방법을 알아본다.

In [ ]:
A = np.arange(25).reshape(5,5)
print(f"기존 A \n{A}")
A[[0, 1]] = A[[1,0]]                                                              # 인덱스를 이용해 바꾸기
print(f"행변환 A \n{A}")

기존 A
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
행변환 A
[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

**73.** *10개의 삼각형을 설명하는 10개의 세쌍둥이 집합*을 고려하여, <u>모든 삼각형을 구성하는 고유한 선분 집합</u>을 찾는다.

`numpy.roll(a, shift, axis=None)`
  - 넘파이 배열을 굴리는 함수이다.
  - shift에 의해서 몇 칸이나 밀지 결정할 수 있다.
  - 다차원 배열에서는 어떤 axis를 기준으로 밀지 결정할 수 있다.

In [ ]:
faces = np.random.randint(0, 100, (10,3))
F = np.roll(faces.repeat(2, axis=1), -1, axis=1)
F = F.reshape(len(F)*3,2)                                                         # 차원 설정
F = np.sort(F, axis=1)                                                            # 정렬 
G = F.view(dtype=[("p0",F.dtype), ("p1",F.dtype)])                                # view : F의 데이터 타입을 각각 p0과 p1로 변경
G = np.unique(G)                                                                  # np.unique : G배열의 모든 고유 값을 검색하고 이러한 고유 값을 정렬
print(G)

[( 9, 20) ( 9, 37) ( 9, 42) ( 9, 53) ( 9, 74) (10, 45) (10, 49) (14, 18)
 (14, 45) (14, 52) (14, 64) (18, 45) (20, 42) (25, 29) (25, 85) (29, 85)
 (34, 49) (34, 87) (37, 74) (43, 88) (43, 98) (45, 49) (48, 65) (48, 86)
 (49, 87) (52, 64) (53, 74) (65, 86) (88, 98)]

**74.** *빈 카운트에 해당*하는 정렬된 배열 `C`가 주어진 경우, `np.bincount(A) == C`와 같은 배열 `A`를 생성하는 방법을 알아본다.

In [ ]:
C = np.bincount([1,1,2,3,4,4,6])                                                  # np.bincount :객체의 원소중 0부터 최대값 범위의 정수값을 올림차순으로 정리한 뒤 각 원소에 대한 빈도수를 반환
A = np.repeat(np.arange(len(C)), C)                                               # np.repeat(a, b, axis=c) : a는 복사할 값, b는 몇번을 반복할지, c는 복사를 할 때 어떤 방향으로 할지를 의미 -> A와 C가 같아질때까지 반복 
print(A)

[1 1 2 3 4 4 6]

**75.** 배열 상의 슬라이딩 창을 사용하여 <u>평균을 계산하는 방법을 알아본다</u>.

In [ ]:
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=float)                                               # 주어진 축을 따라 요소의 누적 합계를 리턴
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n-1:]/n

Z = np.arange(20)
print(moving_average(Z, n=3))

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.]

**76.** 1차원 배열 Z를 고려하여 첫 번째 행이 `(Z[0],Z[1],Z[2])`인 2차원 배열을 만들고, 각 다음 행이 1씩 이동한다.   
이때, 마지막 행은 `(Z[-3],Z[-2]),Z[-1])`이어야 한다.

In [ ]:
from numpy.lib import stride_tricks

def rolling(a, window) : 
    shape = (a.size - window + 1, window)                                         # 모양과 보폭 각 인자에 따라 설정 
    strides = (a.itemsize, a.itemsize)
    return stride_tricks.as_strided(a, shape=shape, strides=strides)              # stride_tricks.as_strided :주어진 모양과 보폭으로 배열에 뷰를 만든다
Z = rolling(np.arange(10), 3)
print(Z)

[[0 1 2]
 [1 2 3]
 [2 3 4]
 [3 4 5]
 [4 5 6]
 [5 6 7]
 [6 7 8]
 [7 8 9]]

**77.** <u>부울을 부정하는 방법</u> 또는 <u>부등 기호를 변경</u>하는 방법을 알아본다.

In [ ]:
Z  = np.random.randint(0,2,100)
np.logical_not(Z, out=Z)                                                          # 0과 1의 어레이일때, logical_not()을 통해 반전 가능

Z = np.random.uniform(-1.0, 1.0, 100)
np.negative(Z, out=Z)                                                             # negative()를 통해 부호 반전 가능

array([-0.85367304,  0.99171251,  0.95309835, -0.69566812, -0.06258744,
        0.97617074,  0.67716675, -0.57015765,  0.83404494, -0.0457265 ,
       -0.24757939,  0.31889378, -0.23232514,  0.60075276, -0.18000596,
       -0.70903864,  0.16813166,  0.65475384, -0.19184065,  0.24963801,
        0.10425002,  0.14653178, -0.94460171, -0.37074188,  0.30944201,
       -0.70428863,  0.45619824, -0.41948951, -0.62563008,  0.87260921,
       -0.92853824,  0.39497379, -0.85185278,  0.0241732 , -0.46288565,
        0.03955828, -0.9950132 ,  0.54148321, -0.49916174, -0.01011508,
       -0.12067216, -0.9218884 ,  0.83654713, -0.14789738, -0.40740942,
        0.47361049, -0.0043183 , -0.80591751, -0.67065799,  0.56987231,
        0.27274141, -0.03365393, -0.20141891,  0.24341419,  0.07451794,
       -0.67559318, -0.52760339,  0.7772553 ,  0.92216821,  0.36640904,
       -0.87563334, -0.1847089 , -0.50789326, -0.33354022, -0.97163715,
       -0.77775922, -0.68391674, -0.71346006,  0.6654504 ,  0.59686868,
        0.77628922, -0.59114541,  0.51134238,  0.20529489, -0.03305827,
        0.98943463, -0.43112067, -0.3317743 ,  0.44099272, -0.47280155,
       -0.79678075, -0.89928537,  0.11807452, -0.83614369, -0.27325042,
       -0.50647929, -0.5826156 ,  0.06112218,  0.85362204,  0.98588655,
        0.63485   ,  0.11070172, -0.04554553, -0.97201864,  0.71730217,
       -0.68602498,  0.37488224,  0.99384348, -0.45302328,  0.35771151])

**78.** `선(2d)`과 점 `p`를 설명하는 점 `P0`, `P1`의 두 집합을 고려하며, <u>p에서 각 선(i)까지의 거리를 계산하는 방법</u>을 알아본다.

In [ ]:
# 거리 계산하는 함수 작성 
def distance(P0, P1, p):
    T = P1 - P0
    L = (T**2).sum(axis=1)
    U = -((P0[:,0]-p[...,0])*T[:,0] + (P0[:,1]-p[...,1])*T[:,1]) / L
    U = U.reshape(len(U),1)
    D = P0 + U*T - p
    return np.sqrt((D**2).sum(axis=1))

P0 = np.random.uniform(-10,10,(10,2))
P1 = np.random.uniform(-10,10,(10,2))
p  = np.random.uniform(-10,10,( 1,2))
print(distance(P0, P1, p))

[ 3.90118809  6.56254966 14.48846322  6.04438893 18.84846319  3.59869628
  7.12126429  7.3032637  15.05586534  5.64042138]

**79.** 각 점 `j(P[j])`에서 각 선 `i(P0[i])`까지의 <u>거리를 계산하는 방법</u>을 알아본다.

In [ ]:
P0 = np.random.uniform(-10, 10, (10,2))
P1 = np.random.uniform(-10,10,(10,2))
p = np.random.uniform(-10, 10, (10,2))
print(np.array([distance(P0,P1,p_i) for p_i in p]))                               # 78번의 distance 함수 사용

[[ 3.37318365  4.97231165  0.18391329  3.33652116 10.4138784   2.00494536
   2.79490846 10.85854164  8.09781685  4.07221995]
 [ 4.67407942  7.33921306  2.74258965  3.86095265  9.76411619  0.6860664
   5.51716436 13.21249837 10.0261461   6.99614747]
 [ 5.65850155  7.57927837  3.86191222  4.67427891  8.92001524  1.79901596
   5.96829127 13.44563366 10.05017159  7.59843407]
 [ 3.34205705  6.18442489  0.79091339  2.98329573 10.71769622  1.31398246
   4.04583601 12.06862057  9.2256671   5.31950864]
 [ 2.23619975  5.90829584  4.98073138  1.91656739 15.74716112  6.97505803
   2.61415489 11.82975756 10.09275959  3.03229066]
 [ 6.27743062  0.30355315  0.65419233  7.17980523  6.70190319  1.92272525
   1.45170609  6.17927231  3.19327968  0.26652884]
 [ 3.84098391  6.00948109  5.12814173  6.7024238   7.49167379  8.08202083
   8.50039908  0.10604437  2.1579397   7.16163303]
 [ 0.93132918 11.08498274  0.9381917   2.14306106 15.73217983  2.60731756
   8.25180109 16.98828244 14.62022466  8.87484565]
 [ 5.98679412  7.6508341   4.23071404  4.94779634  8.63658605  2.16510851
   6.10991631 13.51489402 10.05031577  7.79046104]
 [ 0.2564889   3.7459453   7.55129667  2.89841588 11.27813572 10.26649586
   6.88836769  2.1769282   0.65790645  6.09707257]]

**80.** 임의의 배열을 고려하여, <u>고정된 모양과 필요한 경우 채우기 값을 가진 패드와 같은 특정 요소의 중심에 있는 하위 파트를 추출하는 함수</u>를 작성한다.

In [ ]:
Z = np.random.randint(0, 10, (10,10))                                             # 무작위 10 ×10차원의 Z배열 생성 
shape = (5,5)                                                                     # 차원 설정 
fill = 0                                                                          # fill 값이 있는 패드를 쓰기 위해 0 저장 
position = (1,1)                                                                  # 포지션 설정 

R = np.ones(shape, dtype=Z.dtype)*fill                                            # 지정한 shape 모양의 Z와 데이터 타입이 같은 배열 R을 생성하고 fill을 곱하기 
P = np.array(list(position)).astype(int)                                          # position을 리스트로 바꾸어 이를 배열P로 생성 
Rs = np.array(list(R.shape)).astype(int)                                          # R의 차원을 리스트로 바꾸어 이를 배열Rs로 생성 
Zs = np.array(list(Z.shape)).astype(int)                                          # Z의 차원을 리스트로 바꾸어 이를 배열Zs로 생성 

R_start = np.zeros((len(shape), )).astype(int)
R_stop = np.array(list(shape)).astype(int)
Z_start = (P-Rs//2)                                                               # 식
Z_stop = (P+Rs//2)+Rs%2

R_start = (R_start - np.minimum(Z_start,0)).tolist()                              # tolist() : 사용하여 같은 레벨(위치)에 있는 데이터 끼리 묶어주기
Z_start = (np.maximum(Z_start,0)).tolist()
R_stop = np.maximum(R_start, (R_stop-np.maximum(Z_stop-Zs,0))).tolist()
Z_stop = (np.minimum(Z_stop,Zs)).tolist()

r = [slice(start, stop) for start, stop in zip(R_start, R_stop)]                  # slice() :잘라내기 원하는 index 들을 정의
z = [slice(start, stop) for start, stop in zip(Z_start, Z_stop)]
R[r] = Z[z]
print(Z)
print(R)

[[4 5 8 7 2 5 9 4 8 0]
 [4 6 3 0 6 6 1 9 9 7]
 [4 9 6 0 4 5 6 3 5 8]
 [6 7 4 8 8 3 8 7 2 0]
 [3 2 7 7 3 0 3 5 4 7]
 [2 8 9 5 4 0 3 9 9 3]
 [8 5 6 6 4 3 9 0 1 8]
 [8 8 0 9 8 3 8 1 8 9]
 [6 6 0 2 3 1 2 3 2 8]
 [5 4 3 4 4 9 1 4 9 6]]
[[0 0 0 0 0]
 [0 4 5 8 7]
 [0 4 6 3 0]
 [0 4 9 6 0]
 [0 6 7 4 8]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

**81.** 배열 `[[1,2,3,4], [2,3,4,5], [3,4,5,6], ..., [11,12,13,14]]`와, 배열 `[1,2,3,4,5,6,7,8,9,10,11,12,13,14]`을 생성하는 방법을 알아본다.

In [ ]:
Z = np.arange(1,15,dtype=np.uint32)
print(Z)
R = stride_tricks.as_strided(Z, (11,4), (4,4))                                    # stride_tricks.as_strided :주어진 모양과 보폭으로 배열에 뷰를 만든다
print(R)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[[ 1  2  3  4]
 [ 2  3  4  5]
 [ 3  4  5  6]
 [ 4  5  6  7]
 [ 5  6  7  8]
 [ 6  7  8  9]
 [ 7  8  9 10]
 [ 8  9 10 11]
 [ 9 10 11 12]
 [10 11 12 13]
 [11 12 13 14]]

**82.** <u>행렬 순위를 계산</u>한다.

In [ ]:
Z = np.random.uniform(0, 1,(10,10))
U, S, V = np.linalg.svd(Z)                                                        # SVD(특이값 분해)를 이용하여 계산
rank = np.sum(S> 1e-10)
print(rank)

10

**83.** <u>어레이에서 가장 빈번한 값</u>을 찾는 방법을 알아본다.

In [ ]:
Z = np.random.randint(0, 10, 50)
print(np.bincount(Z).argmax())                                                    # np.bincount() : 각 값을 count -> argmax() : 가장 큰 값을 찾기

7

**84.** <u>랜덤 10×10 크기의 배열</u>에서 <u>모든 연속 3×3 블록을 추출</u>한다.

In [ ]:
Z = np.random.randint(0, 5, (10, 10))
n = 3
i = 1 + (Z.shape[0]-3)
j = 1 + (Z.shape[1]-3)
C = stride_tricks.as_strided(Z, shape=(i,j,n,n),strides=Z.strides + Z.strides)    # stride_tricks.as_strided : 주어진 모양과 보폭으로 배열에 뷰를 만든다
print(C)

[[[[2 0 1]
   [0 3 0]
   [2 0 4]]

  [[0 1 4]
   [3 0 3]
   [0 4 4]]

  [[1 4 1]
   [0 3 4]
   [4 4 3]]

  [[4 1 2]
   [3 4 1]
   [4 3 4]]

  [[1 2 3]
   [4 1 0]
   [3 4 0]]

  [[2 3 2]
   [1 0 2]
   [4 0 1]]

  [[3 2 2]
   [0 2 0]
   [0 1 0]]

  [[2 2 4]
   [2 0 4]
   [1 0 1]]]


 [[[0 3 0]
   [2 0 4]
   [1 0 3]]

  [[3 0 3]
   [0 4 4]
   [0 3 0]]

  [[0 3 4]
   [4 4 3]
   [3 0 2]]

  [[3 4 1]
   [4 3 4]
   [0 2 4]]

  [[4 1 0]
   [3 4 0]
   [2 4 4]]

  [[1 0 2]
   [4 0 1]
   [4 4 1]]

  [[0 2 0]
   [0 1 0]
   [4 1 4]]

  [[2 0 4]
   [1 0 1]
   [1 4 0]]]


 [[[2 0 4]
   [1 0 3]
   [3 1 1]]

  [[0 4 4]
   [0 3 0]
   [1 1 4]]

  [[4 4 3]
   [3 0 2]
   [1 4 4]]

  [[4 3 4]
   [0 2 4]
   [4 4 0]]

  [[3 4 0]
   [2 4 4]
   [4 0 4]]

  [[4 0 1]
   [4 4 1]
   [0 4 3]]

  [[0 1 0]
   [4 1 4]
   [4 3 2]]

  [[1 0 1]
   [1 4 0]
   [3 2 3]]]


 [[[1 0 3]
   [3 1 1]
   [0 1 3]]

  [[0 3 0]
   [1 1 4]
   [1 3 0]]

  [[3 0 2]
   [1 4 4]
   [3 0 4]]

  [[0 2 4]
   [4 4 0]
   [0 4 0]]

  [[2 4 4]
   [4 0 4]
   [4 0 2]]

  [[4 4 1]
   [0 4 3]
   [0 2 2]]

  [[4 1 4]
   [4 3 2]
   [2 2 1]]

  [[1 4 0]
   [3 2 3]
   [2 1 2]]]


 [[[3 1 1]
   [0 1 3]
   [2 1 0]]

  [[1 1 4]
   [1 3 0]
   [1 0 0]]

  [[1 4 4]
   [3 0 4]
   [0 0 3]]

  [[4 4 0]
   [0 4 0]
   [0 3 3]]

  [[4 0 4]
   [4 0 2]
   [3 3 1]]

  [[0 4 3]
   [0 2 2]
   [3 1 0]]

  [[4 3 2]
   [2 2 1]
   [1 0 0]]

  [[3 2 3]
   [2 1 2]
   [0 0 0]]]


 [[[0 1 3]
   [2 1 0]
   [0 1 1]]

  [[1 3 0]
   [1 0 0]
   [1 1 1]]

  [[3 0 4]
   [0 0 3]
   [1 1 1]]

  [[0 4 0]
   [0 3 3]
   [1 1 0]]

  [[4 0 2]
   [3 3 1]
   [1 0 1]]

  [[0 2 2]
   [3 1 0]
   [0 1 3]]

  [[2 2 1]
   [1 0 0]
   [1 3 4]]

  [[2 1 2]
   [0 0 0]
   [3 4 3]]]


 [[[2 1 0]
   [0 1 1]
   [2 1 2]]

  [[1 0 0]
   [1 1 1]
   [1 2 3]]

  [[0 0 3]
   [1 1 1]
   [2 3 2]]

  [[0 3 3]
   [1 1 0]
   [3 2 4]]

  [[3 3 1]
   [1 0 1]
   [2 4 4]]

  [[3 1 0]
   [0 1 3]
   [4 4 3]]

  [[1 0 0]
   [1 3 4]
   [4 3 0]]

  [[0 0 0]
   [3 4 3]
   [3 0 4]]]


 [[[0 1 1]
   [2 1 2]
   [2 4 0]]

  [[1 1 1]
   [1 2 3]
   [4 0 0]]

  [[1 1 1]
   [2 3 2]
   [0 0 1]]

  [[1 1 0]
   [3 2 4]
   [0 1 2]]

  [[1 0 1]
   [2 4 4]
   [1 2 4]]

  [[0 1 3]
   [4 4 3]
   [2 4 1]]

  [[1 3 4]
   [4 3 0]
   [4 1 1]]

  [[3 4 3]
   [3 0 4]
   [1 1 2]]]]

**85.** `Z[i,j] == Z[j,i]`와 같은 2차원 배열 하위 클래스를 만든다.

In [ ]:
class Symetric(np.ndarray) :
    def __setitem__(self, index, value) :
        i, j = index
        super(Symetric, self).__setitem__((i,j), value)                           # 인덱스를 사용하여 아이템(i,j)에 값을 할당
        super(Symetric, self).__setitem__((j,i), value)

def symetric(Z) :
    return np.asarray(Z + Z.T - np.diag(Z.diagonal())).view(Symetric)             # np.asarray()는 입력된 데이터를 np.ndarray()형식으로 생성 

S = symetric(np.random.randint(0, 10, (5,5)))
S[2, 3] = 42
print(S)

[[ 6 14 15  3  8]
 [14  4  9  7 10]
 [15  9  1 42 11]
 [ 3  7 42  4  1]
 [ 8 10 11  1  5]]

**86.** `형상(n,n)`이 있는 `p 행렬 집합`과 `형상(n,1)`이 있는 `p 벡터 집합`을 고려하여, <u>p 매트릭스 제품의 합계를 한 번에 계산하는 방법</u>을 알아본다.

In [ ]:
p, n = 10, 20
M = np.ones((p,n,n))
V = np.ones((p,n,1))
S = np.tensordot(M, V, axes=[[0,2],[0,1]])                                        # 지정 축에 따라 텐서 도트 곱을 계산 
print(S)

[[200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]]

**87.** 16×16 어레이가 주어질 때, <u>4×4의 블록합계로 결과값을 가져오는 방법</u>을 알아본다.

```
- np.add.reduceat()
   : 주어진 배열의 인덱스를 고려하여 해당 인덱스부터 끝까지의 합계를 구해 배열로 반환
```

In [ ]:
Z  = np.ones((16,16))
k = 4
S = np.add.reduceat(np.add.reduceat(Z, np.arange(0, Z.shape[0], k), axis = 0),
                                        np.arange(0, Z.shape[1], k), axis = 1)
print(S)

[[16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]]

**88.** `numpy 배열`을 사용하여 <u>Game of Life를 구현하는 방법</u>을 알아본다.

`Game Of Life` : 영국의 수학자 존 호턴 콘웨이가 고안해낸 세포 자동자의 일종으로, 가장 널리 알려진 세포 자동자 가운데 하나이다.

In [ ]:
def iterate(Z) :
    N = (Z[0:-2,0:-2] + Z[0:-2,1:-1] + Z[0:-2, 2:] +
         Z[1:-1,0:-2]                + Z[1:-1, 2:] + 
         Z[2:  ,0:-2] + Z[2:  ,1:-1] + Z[2:  , 2:])
    
    # 규칙 
    birth = (N==3) & (Z[1:-1,1:-1]==0)                                            # AND 조건으로 두 조건이 모두 성립해야 True
    survive = ((N==2) | (N==3)) & (Z[1:-1,1:-1]==1)                               # N의 값 조건은 OR 조건으로, 하나라도 True면 True, 둘 다 틀려야 False -> Z 조건과는 AND 조건 
    Z[...] = 0                                                                    # Z의 모든 값 = 0 
    Z[1:-1,1:-1][birth | survive] = 1                                             # 조건에 맞는 Z의 값 = 1 
    return Z

Z = np.random.randint(0,2,(50,50))
for i in range(100) : Z = iterate(Z)
print(Z)

[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0
  1 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0
  0 1 1 0 0 0 1 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 1 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 1 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 1 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0
  0 0 0 0 1 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

**89.** `배열의 최대값 n개`를 가져오는 방법을 알아본다.

In [ ]:
Z = np.arange(10000)
np.random.shuffle(Z)                                                              # 원소 순서를 무작위로 섞기
n = 5

print(Z[np.argsort(Z)[-n:]])                                                      # 전체 배열을 정렬 후 인덱스로 가져오기

print(Z[np.argpartition(-Z,n)[:n]])                                               # 배열 내 가장 작은 값을 찾고 인덱스 반환

[9995 9996 9997 9998 9999]
[9997 9998 9996 9999 9995]

**90.** 임의의 수의 벡터가 주어지면, `데카르트 곱(모든 항목의 모든 조합)을` 작성한다.

In [ ]:
from pandas.core.arrays import categorical
def cartesian(arrays) :
    arrays = [np.asarray(a) for a in arrays]                                      # 이미 ndarray의 데이터 형태가 설정되어 있다면, 데이터 형태가 다를 경우에만 복사 -> 데이터형태가 같을 때는 복사하지 않는다.
    shape = (len(x) for x in arrays)

    ix = np.indices(shape, dtype=int)                                             # 격자의 인덱스를 나타내는 배열
    ix  = ix.reshape(len(arrays), -1).T

    for n, arr in enumerate(arrays) : 
        ix[:, n] = arrays[n][ix[:,n]]

    return ix

print(cartesian(([1,2,3],[4,5],[6,7])))

[[1 4 6]
 [1 4 7]
 [1 5 6]
 [1 5 7]
 [2 4 6]
 [2 4 7]
 [2 5 6]
 [2 5 7]
 [3 4 6]
 [3 4 7]
 [3 5 6]
 [3 5 7]]

**91.** 정규 배열에서 레코드 배열을 만드는 방법을 알아본다.

In [ ]:
Z = np.array([("Hello", 2.5, 3),
              ("World", 3.6, 2)])

R = np.core.records.fromarrays(Z.T, names="col1, col2, col3",
                               formats = "S8, f8, i8,")                           # 정규 배열에서 레코드 배열 생성 -> 레코드 배열은 인덱스 대신 속성별로 구조화된 배열 필드에 엑세스 가능 

print(R)

[(b'Hello', 2.5, 3) (b'World', 3.6, 2)]

**92.** `큰 벡터 Z`를 고려하여, 3개의 다른 방법을 사용하여 <u>Z를 3의 거듭제곱으로 계산한다.</u>

`% timeit` : 함수 및 코드 실행시간 측정

In [ ]:
x = np.random.rand(int(5e7))

%timeit np.power(x,3)                                                             # 제곱 함수 
%timeit x*x*x                                                                     # 벡터의 3번 곱
%timeit np.einsum('i,i,i -> i', x,x,x)                                            # Einsum 표기법은 특수한 Domain Specific Language를 이용해 이 모든 행렬 연산을 표기하는 방법

2.14 s ± 10.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
62.3 ms ± 977 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
54 ms ± 1.27 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

**93.**  `형상 (8,3)`과 `(2,2)`의 두 배열 A와 B를 고려하여, *B의 원소 순서와 상관없이* <u>B의 각 행이 포함된 A의 행을 찾는 방법</u>을 알아본다.

In [ ]:
A = np.random.randint(0,5,(8,3))
B = np.random.randint(0,5,(2,2))
C = (A[..., np.newaxis, np.newaxis] == B)                                         # A에 2차원을 추가한 배열과 B를 비교

# any()를 통해 각 그룹 행별로 값을 비교하여 True값이 하나라도 있으면 True
# all()을 통해 각 행이 모두 True인 것만 반환
rows = np.where(C.any((3,1)).all(1))[0]                                           # 구한 값의 행 인덱스 구하기
print(rows)

[1 3]

**94.** 10×3 행렬을 고려하여, <u>값이 동일하지 않은 행</u>을 추출한다.

In [ ]:
Z = np.random.randint(0,5,(10,3))
print(f"Z: {Z}")

E = np.all(Z[:, 1:] == Z[:, :-1], axis=1)                                         # 문자열 배열과 레코드 배열을 포함하는 모든 dtype 배열의 방법
U = Z[~E]
print(f"U: {U}")

U = Z[Z.max(axis=1) != Z.min(axis=1), :]                                          # 숫자 배열에 대한 방법으로, Z의 모든 열에 대해 작동 
print(f"U: {U}")

Z: [[3 0 2]
 [1 3 0]
 [0 0 3]
 [4 4 2]
 [3 2 3]
 [2 4 0]
 [4 1 4]
 [1 1 0]
 [1 3 4]
 [4 1 1]]
U: [[3 0 2]
 [1 3 0]
 [0 0 3]
 [4 4 2]
 [3 2 3]
 [2 4 0]
 [4 1 4]
 [1 1 0]
 [1 3 4]
 [4 1 1]]
U: [[3 0 2]
 [1 3 0]
 [0 0 3]
 [4 4 2]
 [3 2 3]
 [2 4 0]
 [4 1 4]
 [1 1 0]
 [1 3 4]
 [4 1 1]]

**95.** `int의 벡터`를 `행렬 이항 표현`으로 변환한다.

In [ ]:
I = np.array([0,1,2,3,15,16,32,64,128])
B = ((I.reshape(-1,1) & (2**np.arange(8))) != 0).astype(int)
print(B[:,::-1])                                                                  # 기존 B를 반대로 출력

print()

I = np.array([0,1,2,3,15,16,32,64,128], dtype=np.uint8)                           
print(np.unpackbits(I[:, np.newaxis], axis=1))                                    # np.unpackbits : 배열의 요소를 이진 값 출력 배열로 압축 해제

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

**96.** 2차원 배열이 주어진 경우, <u>고유 행을 추출하는 방법을 알아본다</u>.

```
- np.ascontiguousarray
  : 메모리에 연속적으로 저장되지 않는 배열을 연속적으로 저장되는 배열로 변환하기 때문에 더 빠르게 데이터를 불러올 수 있다.
- np.unique 
  : 고유한 값들만 모아서 반환한다.
```

In [ ]:
Z = np.random.randint(0,2,(6,3))
T = np.ascontiguousarray(Z).view(np.dtype((np.void, Z.dtype.itemsize*Z.shape[1])))
_, idx = np.unique(T, return_index=True)
uZ = Z[idx]
print(uZ)

print() 

uZ = np.unique(Z, axis=0)
print(uZ)

[[0 0 1]
 [0 1 0]
 [1 0 0]
 [1 0 1]
 [1 1 1]]

[[0 0 1]
 [0 1 0]
 [1 0 0]
 [1 0 1]
 [1 1 1]]

**97.** 2개의 벡터 A와 B를 고려하여, <u> 내부 곱, 외부 곱, 더하기, 곱하기 함수에 해당</u>하는 `einsum`을 작성해본다.

> **Einsum 표기법** 은 특수한 Domain Specific Language를 이용해 **이 모든 행렬 연산을 표기하는 방법**이다.

In [ ]:
A = np.random.uniform(0,1,10)
B = np.random.uniform(0,1,10)

print(np.einsum('i->', A))                                                        # 합
print(np.einsum('i, i->i', A,B))                                                  # 곱
print(np.einsum('i, i', A, B))                                                    # 내적
print(np.einsum('i, j->ij', A,B))                                                 # 외적

5.035524720928564
[2.84895362e-02 2.69056131e-01 1.00734317e-01 1.83066758e-01
 3.13869624e-01 5.94242849e-01 1.49728980e-01 2.19988621e-02
 3.88546778e-05 3.86300081e-01]
2.0475259920646023
[[2.84895362e-02 8.05292730e-02 2.76480842e-02 1.18435039e-01
  7.88902725e-02 2.01357106e-01 4.92662216e-02 1.44874056e-01
  1.96576225e-02 1.39363491e-01]
 [9.51863105e-02 2.69056131e-01 9.23749375e-02 3.95702981e-01
  2.63580071e-01 6.72753668e-01 1.64603236e-01 4.84038308e-01
  6.56780279e-02 4.65626974e-01]
 [1.03800102e-01 2.93404101e-01 1.00734317e-01 4.31511734e-01
  2.87432490e-01 7.33633850e-01 1.79498845e-01 5.27840879e-01
  7.16214966e-02 5.07763430e-01]
 [4.40366894e-02 1.24475265e-01 4.27360449e-02 1.83066758e-01
  1.21941839e-01 3.11240599e-01 7.61515134e-02 2.23933930e-01
  3.03850722e-02 2.15416170e-01]
 [1.13347308e-01 3.20390484e-01 1.09999541e-01 4.71200822e-01
  3.13869624e-01 8.01111176e-01 1.96008582e-01 5.76390018e-01
  7.82090158e-02 5.54465908e-01]
 [8.40780022e-02 2.37657094e-01 8.15947184e-02 3.49524169e-01
  2.32820094e-01 5.94242849e-01 1.45393925e-01 4.27550702e-01
  5.80133566e-02 4.11287984e-01]
 [8.65848661e-02 2.44743062e-01 8.40275410e-02 3.59945558e-01
  2.39761842e-01 6.11960753e-01 1.49728980e-01 4.40298525e-01
  5.97430789e-02 4.23550919e-01]
 [4.32608428e-03 1.22282237e-02 4.19831132e-03 1.79841454e-02
  1.19793444e-02 3.05757104e-02 7.48098617e-03 2.19988621e-02
  2.98497423e-03 2.11620928e-02]
 [5.63115784e-05 1.59171790e-04 5.46483892e-05 2.34095211e-04
  1.55932190e-04 3.97996526e-04 9.73781629e-05 2.86353794e-04
  3.88546778e-05 2.75461773e-04]
 [7.89698223e-02 2.23218178e-01 7.66374111e-02 3.28288742e-01
  2.18675051e-01 5.58139477e-01 1.36560481e-01 4.01574754e-01
  5.44887408e-02 3.86300081e-01]]

**98.** `두 벡터(X,Y)`가 설명하는 경로를 고려하여, <u>등거리 표본을 사용하여 샘플링하는 방법</u>을 알아본다.

In [ ]:
phi = np.arange(0, 10*np.pi, 0.1)
a = 1
x = a*phi*np.cos(phi)
y = a*phi*np.sin(phi)

dr = (np.diff(x)**2 + np.diff(y)**2)**.5                                          # numpy.diff : 주어진 축을 따라 n번째 이산 차이 계산 -> 각각의 배열 원소 간 1차 차분 구하기
r = np.zeros_like(x)                                                              # np.zeros_like : 어떤 특정 어레이와 같은 사이즈, 크기의 zeros 어레이 구하기 
r[1:] = np.cumsum(dr)                                                             # np.cumsum : 배열에서 주어진 축에 따라 누적되는 원소들의 누적 합을 계산하기
r_int = np.linspace(0, r.max(), 200)                                              # np.linspace : 구간 내 숫자 배열 생성하기
x_int = np.interp(r_int, r,x)                                                     # np.interp(a, b, c) : 진행할 a 범위, 원래 데이터가 존재하는 배열 b, 원래 데이터가 존재하는 c 배열 
y_int = np.interp(r_int, r, y)

**99.** `정수 n`과 `2차원 배열 X`가 주어지면, <u>X에서 n도를 갖는 다항 분포에서 끌어온 것으로 해석될 수 있는 행을 선택</u>한다.

`np.asarray()`
  - 이미 ndarray의 데이터 형태가 설정되어 있다면, 데이터 형태가 다를 경우에만 복사   
-> 데이터형태가 같을 때는 복사하지 않는다.

`np.mod()`
  - 요소별 나눗셈의 나머지

In [ ]:
X = np.asarray([[1.0, 0.0, 3.0, 8.0],
                [2.0, 0.0, 1.0, 1.0],
                [1.5, 2.5, 1.0, 0.0]])

n = 4
M = np.logical_and.reduce(np.mod(X, 1) == 0, axis=-1)
M &= (X.sum(axis=-1) == n)
print(X[M])

[[2. 0. 1. 1.]]

**100.** `1차원 어레이 X의 평균`에 대한 <u>부트스트랩 95% 신뢰 구간 계산</u>을 한다.   
*즉, 어레이의 요소를 교체 N번으로 다시 샘플링하고 각 표본의 평균을 계산한 다음, 평균에 대한 백분위수를 계산한 것을 의미한다.*

**부트스트랩 계산** 
  > 모수의 분포를 추정하는 방법에 있어서 강력한 방법으로 기존의 표본으로부터 추가적인 표본을 복원 추출을 하여 표본에 대한 통계랑을 다시 계산하는 것이다.
```
(1) n개의 표본으로부터 m개의 중복을 허용하는 표본을 뽑는다.
(2) m개의 추출된 추가 표본의 평균을 구한다.
(3) 이렇게 평균을 구하는 과정을 총 k번 반복한다.(여기서 k는 부트스트랩의 반복 횟수가 된다.)
(4) 평균에 대한 k번의 결과를 사용하여 신뢰구간을 구하여 분포에 대한 정보를 얻을 수 있다.
```

In [ ]:
X = np.random.randn(100)
N = 1000
idx = np.random.randint(0, X.size, (N,X.size))
means = X[idx].mean(axis=1)
confint = np.percentile(means, [2.5, 97.5])                                       # np.percentile : 백분위수 구하기 -> 2.5%, 97.5%의 백분율의 중분위수
print(confint)

[-0.30997555  0.08257293]